<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>202346488772-hbq6g12itfhnmi295oncuhqj1f8ucu98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202346488772-hbq6g12itfhnmi295oncuhqj1f8ucu98</string>
	<key>API_KEY</key>
	<string>AIzaSyBy-pO0-GnA3F7wkU1SHkWYxoVVbbdLt5w</string>
	<key>GCM_SENDER_ID</key>
	<string>202346488772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quangbinh.MyToDoList</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-ac7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-ac7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202346488772:ios:2d2fd20117581fb1</string>
	<key>DATABASE_URL</key>
	<string>https://mytodolist-ac7f8.firebaseio.com</string>
</dict>
</plist>